# Defines the Google C++ style for automatic reformatting.
# http://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google
BreakBeforeBraces: Allman
IndentWidth: 4
MaxEmptyLinesToKeep: 2
ColumnLimit: 0