# Sources
*.c     text diff=c
*.cc    text diff=cpp
*.cxx   text diff=cpp
*.cpp   text diff=cpp
*.c++   text diff=cpp
*.hpp   text diff=cpp
*.h     text diff=c
*.h++   text diff=cpp
*.hh    text diff=cpp

# Compiled Object files
*.slo   binary
*.lo    binary
*.o     binary
*.obj   binary

# Precompiled Headers
*.gch   binary
*.pch   binary

# Compiled Dynamic libraries
*.so    binary
*.dylib binary
*.dll   binary

# Compiled Static libraries
*.lai   binary
*.la    binary
*.a     binary
*.lib   binary

# Executables
*.exe   binary
*.out   binary
*.app   binary

* linguist-vendored
*.txt linguist-vendored=false
*.png linguist-vendored=false
*.bmp linguist-vendored=false
*.lua linguist-vendored=false
*.a linguist-vendored=false
*.dll linguist-vendored=false
*.exe linguist-vendored=false
*.lib linguist-vendored=false
*.json linguist-vendored=false
*.xml linguist-vendored=false
*.ttf linguist-vendored=false
*.h linguist-vendored=false
*.c linguist-vendored=false
