[submodule "deps/glew"]
	path = deps/glew
	url = https://github.com/Perlmint/glew-cmake
	branch = master
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/aseprite/freetype2
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog
